
.header {
  display: flex;
  height: 60px;
  background: beige;
  position: relative;
  padding-left: 78px;
  padding-right: 78px;
}

header h1 {
  padding-left: 78px;
  margin: 0;
  margin-top: 7px;
}

.fan-icon {
  width: 34px;
  height: 30px;
  top: 14px;
  left: 52px;
  /* border-radius: 2px; */
  /* border-color: #395453; */
  border: 2px solid #395453;
  position: absolute;
  transform: rotate(-180deg);
  margin-left: 28px;
}

.content {
  flex: 1 0 auto;
  background-color: #395453;
  color: white;
  padding: 10px;
  padding-left: 78px;
  padding-right: 78px;
}

h2 {
  font-weight: 400;
  margin-top: 11px;
}

.device-header {
  font-weight: 600;
  font-size: 2.8rem;
  display: inline-block;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.search-box {
  border-radius: 20px;
  height: 34px;
  margin-top: 52px;
  outline: none;
  padding-left: 30px;
  float: right;
}

.devicecard {
  color: black;
}

.tabs {
  color: white;
}

.sorter-page {
  display: flex;
}

.sorter {
  color: white;
  flex: 1;
  width: 150px;
}

.pagestatus {
  color: white;
  margin-right: 20px;
}

Tab {
  text-transform: none;
}

.datamap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 5px;
}

.avatar {
  display: flex;
  position: absolute;
  top: 4px;
  right: 10px;
}

.icons-holder {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.icons-right {
  position: absolute;
  right: 140px;
  top: 18px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.fake-info {
  display: flex;
  flex-direction: column;
}

.icons-color {
  color: grey;
}

.fake-name {
  margin: 0;
  font-size: 16px;
  margin-top: 4px;
}

.fake-title {
  margin: 0;
  font-size: 12px;
  color: grey;
  margin-top: -2px;
}

.pager {
  float: right;
  margin-top: -40px;
}

.MuiCardContent-root:hover {
  /* color: white; */
  background: #50847b;
}

.MuiCardContent-root:hover .MuiTypography-root {
  color: white;
}

.each-card {
  padding-left: 5px;
  background: #f1ede6;
  position: relative;
  width: 384px;
}

.each-card-parent {
  width: 400px;
  height: 132px;
  border-radius: 0;
}

.status-banner {
  position: absolute;
  color: white;
  height: 34px;
  width: 113px;
  top: 6px;
  right: -9px;
  padding-left: 10px;
  padding-top: 3px;
}

.status-banner::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  right: -1px;
  bottom: -11px;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

#rightModal .modal-dialog-slideout {
  min-height: 100%;
  margin: 0 0 0 auto;
  background: #fff;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(50%,0)scale(1);
  transform: translate(50%,0)scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
  border: 0;
}

.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
  height: 69px;
  display: block;
}

#rightModal .modal-dialog-slideout .modal-header h5 {
  float:left;
  color:blue;
}

.link-style {
  font-size: 13px;
  font-weight: 600;
  color: #d16565;
  position: absolute;
  bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.3% 33.4% 33.3%;
  grid-gap: 5px;
  width: 300px
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}
